In [4]:
import pandas as pd
import numpy as np
from collections import defaultdict, Counter

In [2]:
data = pd.read_csv("folds.csv")

In [3]:
data.head()

                 id        attribute_ids  fold
0  1000483014d91860          147 616 813     4
1  1000fe2e667721fe       51 616 734 813     0
2  1001614cb89646ee                  776     0
3  10041eb49b297c08  51 671 698 813 1092     4
4  100501c227f8beea  13 404 492 903 1093     3

In [ ]:
cls_counts = Counter(cls for classes in data['attrub'])